.sidebar {
  grid-row: 1 / 4;
  background-color: var(--primary-color);
  color: var(--font-white-color);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1em;
  display: grid;
  grid-template-rows: 70px 290px 1fr;
  row-gap: 10px;
}

.sidebar .logo {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.sidebar .logo svg {
  fill: var(--font-white-color);
  width: 2.8rem;
  margin-right: 10px;
}

.sidebar ul {
  padding-left: 0.5em;
}

.sidebar ul li {
  margin-bottom: 0.5em;
}

.sidebar ul li a {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  gap: 10px;
}

.sidebar ul li a svg {
  fill: var(--font-white-color);
  margin-right: 1em;
}
